# Framework Web
fastapi==0.95.0
uvicorn[standard]==0.20.0

# Base de données
sqlalchemy==2.0.45
psycopg2-binary==2.9.11

# Validation et sérialisation
pydantic==1.10.5
email-validator==1.3.1

# Utilitaires
python-dotenv==0.21.0
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
python-multipart==0.0.5

# Tests
pytest==7.2.1
pytest-asyncio==0.20.3
httpx==0.23.3
